{% extends "base.html" %}
{% load plotly_dash %}
{% block content %}

<div class="container-fluid" style="min-height: 80vh; padding-bottom: 60px;">
    <div class="mb-3">    
        <a href="{% url 'home_diretoria' %}" class="btn btn-secondary">Voltar para Home</a>
    </div>
    
    <div id="dashboard-plotly-wrapper" style="width:100%; height: 100%; display: flex; flex-direction: column; align-items: stretch; justify-content: flex-start;">
        {% plotly_app name="LSDDashboard" %}
    </div>
</div>

{% endblock %}

