{% extends "AppLSD/base.html" %}
{% load static %}
    {% block title %}Lista de Atividades{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block content %}
    <h1 class="container mt-4">Lista de Atividades</h1>
    <div class="mb-3">
        <a href="{% url 'activity_create' %}" class="btn btn-success">Cadastrar Nova Atividade</a>
        <a href="{% url 'home' %}" class="btn btn-secondary">Voltar para Home</a>
        <button class="btn btn-outline-primary" onclick="window.print()">Imprimir</button>
    </div>

<div class="mb-3">
  <form method="get" class="row g-2 mb-3">
    <div class="col-md-2">
        <label class="form-label">Atividades</label>
        <select name="atividade" class="form-select">
            <option value="">Todas as atividades</option>
            {% for nome in nomes_atividades %}
                <option value="{{ nome }}"
                {% if filtro_atividade == nome %}selected{% endif %}>
                {{ nome }}
                </option>
            {% endfor %}
            </select>
    </div>

    <div class="col-md-2">
      <label class="form-label">Facilitador</label>
      <select name="facilitador" class="form-select">
            <option value="">Todos os facilitadores</option>
            {% for facilitador in facilitadores %}
                <option value="{{ facilitador.id }}"
                {% if filtro_facilitador == facilitador.id|stringformat:"s" %}selected{% endif %}>
                {{ facilitador }}
                </option>
            {% endfor %}
        </select>

    </div>

    <div class="col-md-2">
      <label class="form-label">Tipo</label>
      <select name="tipo" class="form-select">
            <option value="">Todos os tipos</option>
            {% for value, label in tipos_atividades %}
                <option value="{{ value }}"
                    {% if filtro_tipo == value %}selected{% endif %}>
                    {{ label }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-3">
      <label class="form-label">Dias da Semana</label>
      <select name="dia_semana" class="form-select">
            <option value="">Todos os dias</option>
            {% for value, label in dias_semana_choices %}
                    <option value="{{ value }}"
                    {% if filtro_dia_semana == value %}selected{% endif %}>
                {{ label }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-2 d-flex align-items-end">
      <button type="submit" class="btn btn-primary me-2">Filtrar</button>
      <a href="{% url 'activity_list' %}" class="btn btn-outline-secondary">Limpar</a>
    </div>
  </form>
</div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="text-center">
                <th>Atividade</th>
                <th>Facilitador(a)</th>
                <th>Tipo</th>
                <th>Dia da Semana</th>
                <th>Turno</th>
                <th>Horário</th>
                <th>Qtd Alunos</th>
                <th>Ações</th>
                
            </tr>
        </thead>
        <tbody>
        {% for activity in page_obj %}
            <tr class="text-center">
                <td>{{ activity.atividade }}</td>
                <td>{{ activity.facilitador.first_name }}</td>
                <td>{{ activity.get_tipo_display }}</td>
                <td>{{ activity.get_dia_semana_display }}</td>
                <td>{{ activity.turno }}</td>
                <td>{{ activity.horario_inicio }} - {{ activity.horario_fim }}</td>
                <td>{{ activity.alunos.count }}</td>
                <td>
                    <a href="{% url 'activity_detail' activity.pk %}" class="btn btn-info btn-sm">Visualizar</a>
                    
                    {% if is_coordenacao or user.is_superuser %}
                        <a href="{% url 'activity_edit' activity.pk %}" class="btn btn-primary btn-sm">Editar</a>
                        <a href="{% url 'activity_delete' activity.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3" class="text-center">Nenhuma Atividades cadastrada.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Paginação">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page=1" class="page-link">Primeira</a></li>
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Anterior</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Primeira</span></li>
                <li class="page-item disabled"><span class="page-link">Anterior</span></li>
            {% endif %}
            <li class="page-item disabled"><span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span></li>
            {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Próxima</a></li>
                <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Última</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Próxima</span></li>
                <li class="page-item disabled"><span class="page-link">Última</span></li>
            {% endif %}
        </ul>
    </nav>

    
    {% endblock %}

