{% extends "AppLSD/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {% if form.instance.pk %}Editar{% else %}Cadastrar{% endif %} Adulto
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8 mx-auto">
            <h1>{% if form.instance.pk %}Editar{% else %}Cadastrar{% endif %} Adulto</h1>
            <form method="post" class="mb-4">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">
                {% if form.instance.pk %}Salvar Alterações{% else %}Salvar{% endif %}
                </button>
                <a href="/families/{{ family.pk }}/" class="btn btn-secondary ms-2">Voltar</a>
            </form>
        </div>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const inputNasc = document.getElementById("id_birth_date");
    const inputIdade = document.getElementById("id_idade");

    function calcularIdade(nasc) {
        if(!nasc) return '';
        const partes = nasc.split('-');
        if(partes.length !== 3) return '';
        const nascimento = new Date(partes[0], partes[1]-1, partes[2]);
        const hoje = new Date();
        let idade = hoje.getFullYear() - nascimento.getFullYear();
        const m = hoje.getMonth() - nascimento.getMonth();
        if (m < 0 || (m === 0 && hoje.getDate() < nascimento.getDate())) {
            idade--;
        }
        return idade;
    }

     function exibirIdadeAnos() {
        if(inputNasc && inputIdade) {
            const idade = calcularIdade(inputNasc.value);
            inputIdade.value = idade ? idade + " anos" : '';
        }
    }

    if(inputNasc && inputIdade) {
        inputNasc.addEventListener("change", exibirIdadeAnos);
        inputNasc.addEventListener("blur", exibirIdadeAnos);
        exibirIdadeAnos();
    }
});
</script>
{% endblock %}
