{% extends "AppLSD/base.html" %}
{% load static %}

{% block title %}Confirmação de Exclusão{% endblock %}

{% block content %}
<h2>Excluir Aluno</h2>
<p>Digite sua senha para confirmar a exclusão do aluno: <strong>{{ aluno.name }}</strong></p>
<form method="post">
    {% csrf_token %}
    <input type="password" name="senha" class="form-control w-50 mb-2" required placeholder="Senha">
    <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
    <a href="{% url 'aluno_detail' aluno.pk %}" class="btn btn-secondary">Cancelar</a>
    {% if error %}
        <div class="alert alert-danger mt-2">{{ error }}</div>
    {% endif %}
</form>
{% endblock %}







<