{% extends "AppLSD/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Editar Usuário
{% endblock %}
{% block content %}
<h2>Editar Usuário: {{ usuario.username }}</h2>
<form method="post">{% csrf_token %}
    <label>Nome:</label>
    <input type="text" name="nome" value="{{ usuario.first_name }}"><br>
    <label>Email:</label>
    <input type="email" name="email" value="{{ usuario.email }}"><br>
    <label>Perfis:</label><br>
    <div class="btn-group" role="group" aria-label="Perfis" style="margin-bottom:10px;">
        {% for tipo in tipo_perfil_choices %}
            <input type="checkbox" class="btn-check"
                   name="tipo_perfil"
                   value="{{ tipo }}"
                   id="perfil_{{ tipo }}"
                   {% if tipo in perfis_do_usuario %}checked{% endif %}>
            <label class="btn btn-outline-secondary" for="perfil_{{ tipo }}">{{ tipo|title }}</label>
        {% endfor %}
    </div>
    <div class="row mb-2">
        <div class="col">
            <div class="btn-group" role="group" aria-label="Ativo" style="margin-bottom:10px;">
                <input type="checkbox" class="btn-check" id="ativo" name="is_active" value="true"
                {% if usuario.is_active %}checked{% endif %} autocomplete="off">
                <label class="btn btn-outline-primary" for="ativo">Ativo</label>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col text-center">
                <button type="submit" class="btn btn-primary">Salvar</button>
            
                <button type="submit" class="btn btn-secondary">Voltar</button>
            </div>
        </div>
    </div>

</form>
{% endblock %}

<script>
    $(document).ready(function() {
        $('.select2').select2({
            placeholder: "Selecione os perfis...",
            allowClear: true,
            width: '100%'
        });
    });
</script>
