{% extends "AppLSD/base.html" %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <h3>Perfis do usuário: {{ usuario.username }}</h3>
    {% for tipo in tipos_perfil %}
    <div>
        <input type="checkbox" name="tipos_perfil" value="{{ tipo }}" id="perfil_{{ tipo }}"
        {% if tipo in perfis_do_usuario %}checked{% endif %}>
            <label for="perfil_{{ tipo }}">{{ tipo|title }}</label>
    </div>
    {% endfor %}
    <button type="submit">Salvar</button>
    <a href="{% url 'usuarios_gerenciar' %}">Voltar</a>
</form>
{% endblock %}