{% extends "AppLSD/base.html" %}
{% load static %}

{% block title %}Detalhes da Família{% endblock %}

{% block content %}

<div class="container mt-4">
    
<h2 class="row justify-content-center"> Detalhes da Família</h2>

<ul class="nav nav-tabs mt-3" id="familyTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="tab-resumo" data-bs-toggle="tab"
              data-bs-target="#pane-resumo" type="button" role="tab"
              aria-controls="pane-resumo" aria-selected="true">
        Resumo
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="tab-historico" data-bs-toggle="tab"
              data-bs-target="#pane-historico" type="button" role="tab"
              aria-controls="pane-historico" aria-selected="false">
        Histórico
      </button>
    </li>
  </ul>

  <div class="tab-content mt-3" id="familyTabsContent">

    {# ABA RESUMO #}
    <div class="tab-pane fade show active" id="pane-resumo" role="tabpanel"
         aria-labelledby="tab-resumo">

<div class="container mt-2">
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto">
                <div class="row mb-3">
                    <div class="col-md-2"><strong>Inscrição:</strong> <div>{{ family.registration_number }}</div></div>
                    <div class="col-md-6"><strong>Responsável:</strong> <div>{{ family.responsible_name }}</div></div>
                    <div class="col-md-4"><strong>Nome Social:</strong> <div>{{ family.social_name }}</div></div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4"><strong>NIS:</strong> <div>{{ family.nis }}</div></div>
                    <div class="col-md-4"><strong>RG:</strong> <div>{{ family.rg }}</div></div>
                    <div class="col-md-4"><strong>CPF:</strong> <div>{{ family.cpf }}</div></div>
                </div>             
                <div class="row mb-3">
                    <div class="col-md-4"><strong>Data de Nascimento:</strong> <div>{{ family.birth_date|date:'d/m/Y' }}</div></div>
                    <div class="col-md-2"><strong>Idade:</strong> <div>{{ family.idade }}</div></div>
                    <div class="col-md-2"><strong>Sexo:</strong> <div>{{ family.get_sex_display }}</div></div>
                    <div class="col-md-2"><strong>Mãe Solo:</strong> <div>{{ family.get_mae_solo_display }}</div></div>
                    <div class="col-md-2"><strong>Gestante:</strong> <div>{{ family.get_gestante_display }}</div></div>
                </div>  
                <div class="row mb-3">
                    <div class="col-md-2"><strong>CEP:</strong> <div>{{ family.cep }}</div></div>
                    <div class="col-md-5"><strong>Endereço:</strong> <div>{{ family.address }}</div></div>
                    <div class="col-md-2"><strong>Número:</strong> <div>{{ family.number }}</div></div>
                    <div class="col-md-3"><strong>Bairro:</strong> <div>{{ family.neighborhood }}</div></div>
                
                </div>
                <div class="row mb-3">
                    <div class="col-md-6"><strong>Ponto de referência:</strong> <div>{{ family.reference_point }}</div></div>
                    <div class="col-md-3"><strong>Telefone 1:</strong> <div>{{ family.telephone }}</div></div>
                    <div class="col-md-3"><strong>Telefone 2:</strong> <div>{{ family.telephone_2 }}</div></div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3"><strong>Estado Civil:</strong> <div>{{ family.get_marital_status_display }}</div></div>
                    <div class="col-md-3"><strong>Escolaridade:</strong> <div>{{ family.get_education_display }}</div></div>
                    <div class="col-md-3"><strong>Raça:</strong> <div>{{ family.get_race_display }}</div></div>
                    <div class="col-md-3"><strong>Religião:</strong> <div>{{ family.get_religion_display }}</div></div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6"><strong>Beneficiária de Programas Sociais:</strong> <div>{{ family.get_is_benefits_display }}</div></div>
                    <div class="col-md-6"><strong>Qual Programa Social:</strong> <div>{{ family.get_social_benefits_display }}</div></div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4"><strong>Ocupação/Profissão:</strong> <div>{{ family.occupation }}</div></div>
                    <div class="col-md-4"><strong>Trabalhando no momento?:</strong> <div>{{ family.get_is_working_display }}</div></div>
                    <div class="col-md-4"><strong>Qual local?:</strong> <div>{{ family.location }}</div></div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4"><strong>Possui Renda Comprovada:</strong> <div>{{ family.get_has_proven_income_display }}</div></div>
                    <div class="col-md-4"><strong>Tipo de renda comprovada:</strong> <div>{{ family.income_types_display }}</div></div>
                    <div class="col-md-4"><strong>Faixa Salarial:</strong> <div>{{ family.get_salary_range_display }}</div></div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6"><strong>Outras Pessoas Contribuem com a Renda da Família:</strong> <div>{{ family.get_others_contribute_display }}</div></div>
                    <div class="col-md-6"><strong>Quem Contribui:</strong> <div>{{ family.who_contributes }}</div></div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6"><strong>Informações sobre o domicílio:</strong> <div>{{ family.get_domicile_type_display }}</div></div>
                    <div class="col-md-6"><strong>Quantidade de Pessoas no Domicílio:</strong> <div>{{ family.num_residents }}</div></div>
                </div>
                <div class="row mb-3">
                        <div class="col-md-2"><strong>Adulto:</strong> <div>{{ family.has_adult }}</div></div>
                        <div class="col-md-2"><strong>Idoso:</strong> <div>{{ family.has_elderly }}</div></div>
                        <div class="col-md-2"><strong>Gestante:</strong> <div>{{ family.has_pregnant }}</div></div>
                        <div class="col-md-2"><strong>PCD:</strong> <div>{{ family.has_pcd }}</div></div>
                        <div class="col-md-2"><strong>Adolescente:</strong> <div>{{ family.has_adolescent }}</div></div>
                        <div class="col-md-2"><strong>Criança:</strong> <div>{{ family.has_child }}</div></div>
                        
                </div>
                <div class="row mb-3">
                    <div class="col-md-3"><strong>Documentação:</strong> <div>{% if family.file_info %}<a href="{{ family.file_info.url }}" class="btn btn-primary" style="font-size:12px; padding:5px 5px;" target="_blank">Visualizar documento</a>{% else %}Não disponível{% endif %}</div></div>
                    <div class="col-md-3"><strong>Situação no Lar:</strong> <div>{{ family.get_status_display }}</div></div>
                    <div class="col-md-6"><strong>Motivo desligamento:</strong> <div>{{ family.motivo_desligamento }}</div></div>
                </div>
    
            </div>
        </div>
    </div>    
    <h2 class="row justify-content-center"> Composição Familiar</h2>
    <h3 class="row justify-content-center mt-4">Crianças / Adolescente</h3>
    <a href="{% url 'aluno_create' %}?family_id={{ family.pk }}" class="btn btn-success btn-sm">
        Cadastrar Assistido
    </a>
    <div class="row mb-3"></div>
    <table class="table table-bordered">
        <thead><tr class="text-center"><th>CPF</th><th>Nome do Assistido</th><th>Status</th><th>Idade</th><th>Turma</th><th>Ações</th></tr></thead>
        <tbody>
            {% for aluno in family.alunos.all %}
                <tr class="text-center">
                    <td>{{ aluno.cpf }}</td>
                    <td>{{ aluno.name }}</td>
                    <td>{{ aluno.status_lsd }}</td>
                    <td>{{ aluno.idade }}</td>
                    <td>{% if aluno.turma %}{{ aluno.turma.faixa_etaria }}{% else %}-{% endif %}</td>
                    <td>    
                    <a href="{% url 'aluno_edit' pk=aluno.pk %}" class="btn btn-primary btn-sm">Editar</a>
                        <a href="{% url 'aluno_detail' pk=aluno.pk %}" class="btn btn-danger btn-sm">Visualizar</a>
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan="3" class="text-center">Nenhum aluno vinculado a esta família.</td></tr>
            {% endfor %}
        </tbody>
    </table>

    <h3 class="row justify-content-center mt-4">Adultos Vinculados</h3>
    <a href="{% url 'adult_create' %}?family_id={{ family.pk }}" class="btn btn-success btn-sm">
        Cadastrar Adulto
    </a>
    <div class="row mb-3"></div>
    <table class="table table-bordered">
        <thead><tr class="text-center"><th>CPF</th><th>Nome do Adulto</th><th>Nome Social<th>Parentesco</th><th>Idade</th><th>Telefone</th><th>Ações</th></tr></thead>
        <tbody>
            {% for adulto in family.adults.all %}
                <tr class="text-center">
                    <td>{{ adulto.cpf }}</td>
                    <td>{{ adulto.name }}</td>
                    <td>{{ adulto.social_name }}</td>
                    <td>{{ adulto.parentesco }}</td>
                    <td>{{ adulto.idade }}</td>
                    <td>{{ adulto.telephone }}</td>
                    <td>
                        <a href="{% url 'adult_edit' pk=adulto.pk %}" class="btn btn-primary btn-sm">Editar</a>
                        <a href="{% url 'adult_detail' pk=adulto.pk %}" class="btn btn-danger btn-sm">Visualizar</a>
                        <a href="{% url 'adult_delete_confirm' pk=adulto.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                    
                </tr>
            {% empty %}
                <tr><td colspan="3" class="text-center">Nenhum adulto vinculado a esta família.</td></tr>
            {% endfor %}
        </tbody>
    </table>

                    
        </tbody>
    </table>

<!-- Card de auditoria -->
    <div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8 mx-auto">
      <div class="card">
        <div class="card-header">
          <h5>Informações de Auditoria</h5>
        </div>
        <div class="card-body">
          <p>
            <strong>Criado por:</strong>
            {{ family.criado_por.username|default:"Sistema" }}
            em {{ family.criado_em|date:"d/m/Y H:i" }}
          </p>

          {% if family.editado_por %}
            <p>
              <strong>Última edição:</strong>
              {{ family.editado_por.username }}
              em {{ family.editado_em|date:"d/m/Y H:i" }}
            </p>
          {% endif %}

          {% if family.excluido %}
            <p class="text-danger">
              <strong>Excluído por:</strong>
              {{ family.excluido_por.username }}
              em {{ family.excluido_em|date:"d/m/Y H:i" }}
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>{# fim aba Resumo #}

{# ABA HISTÓRICO #}
<div class="tab-pane fade" id="pane-historico" role="tabpanel"
         aria-labelledby="tab-historico">
      <h4 class="mt-3">Histórico de Ações da Família</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Data / Hora</th>
            <th>Usuário</th>
            <th>Ação</th>
            <th>Descrição</th>
          </tr>
        </thead>
        <tbody>
          {% for log in logs %}
          <tr>
            <td>{{ log.criado_em|date:"d/m/Y H:i" }}</td>
            <td>{{ log.criado_por.username|default:"Sistema" }}</td>
            <td>{{ log.acao }}</td>
            <td>{{ log.descricao }}</td>
          </tr>
          {% empty %}
          <tr><td colspan="4" class="text-center">Nenhuma ação registrada.</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

</div> {# fim tab-content #}

    <div class="mt-3 no-print">
        <a href="{% url 'family_edit' family.pk %}" class="btn btn-primary">Editar</a>
        <a href="{% url 'family_delete_confirm' family.pk %}" class="btn btn-danger">Excluir</a>
        <a href="{% url 'family_term_pdf' family.id %}" class="btn btn-success" target="_blank">Imprimir Termo de Compromisso</a>
        <button class="btn btn-outline-secondary" onclick="window.print()">Imprimir</button>
        <a href="{% url 'family_list' %}" class="btn btn-secondary">Voltar</a>
    </div>
</div> 
{% endblock %}
