{% extends "AppLSD/base.html" %}
{% load static %}
{% block title %}Frequência Turma {% endblock %}
{% block content %}


<h1>Turma: {{ turma.educadora.first_name }} - {{ turma.faixa_etaria }} - {{ turma.grupo }}</h1>
<p><strong>Turno:</strong> {{ turma.turno }}</p>

<form method="post">
    {% csrf_token %}
    <label for="data">Data:</label>
    <input type="date" name="data" id="data" value="{{ data }}">
    <table class="table table-bordered mt-3">
        <thead>
            <tr class="text-center">
                <th>Inscrição</th>
                <th>Aluno</th>
                <th>Presente</th>
                <th>Motivo da Falta</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in alunos %}
            <tr class="text-center">
                <td>{{ aluno.family.registration_number }}</td>
                <td>{{ aluno.name }}</td>
                <td class="text-center">
                    <input type="checkbox" name="presente_{{ aluno.id }}" {% if presencas_dict.aluno.id.presente %}checked{% endif %} value="1" checked class="form-check-input">
                </td>
                <td>
                    <input type="text" name="motivo_{{ aluno.id }}" class="form-control" 
                    placeholder="Motivo da falta (opcional)" 
                    value="{% if presencas_dict.aluno.id and not presencas_dict.aluno.id.presente %}{{ presencas_dict.aluno.id.motivo_falta }}{% endif %}">
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="3" class="text-center">Nenhum aluno inscrito nesta turma.</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mb-3">
        <label for="observacoes">Observações Gerais</label>
        <textarea name="observacoes" class="form-control"></textarea>
    </div>
    <div class="no-print">
        <button type="submit" class="btn btn-success">Salvar Chamada</button>
        <a href="{% url 'turma_list' %}" class="btn btn-secondary">Voltar</a>
        <button type="button" class="btn btn-outline-primary" onclick="window.print()">Imprimir</button>
    </div>
</form>
{% endblock %}
