{% extends "AppLSD/base.html" %}
{% load static %}

{% block title %}Painel Lar São Domingos{% endblock %}

{% block content %}


<h1 class="mb-5 text-center">Painel Diretoria</h1>
<div class="row justify-content-center">
    <div class="col-6 col-md-3 mb-4 text-center">
        <a href="{% url 'dashboard' %}" class="text-decoration-none text-primary">
            <i class="bi bi-bar-chart-line" style="font-size:3em;"></i>
        <div class="mt-2 fs-5">Dashboard</div>
        </a>

    </div>
</div>
{% endblock %}
