{% extends "AppLSD/base.html" %}
{% load static %}

{% block title %}Integra+Lar{% endblock %}

{% block content %}

<h1 class="mb-4 text-center">Serviço de Convivência</h1>

<div class="container mb-5">
  <div class="row justify-content-center g-4">

    <!-- Famílias Cadastradas -->
    <div class="col-12 col-md-4 col-lg-3">
      <div class="card shadow-sm border-0 text-center py-4">
        <div class="mb-3">
          <i class="bi bi-house-fill text-success" style="font-size:2rem;"></i>
        </div>
        <h6 class="text-muted mb-1">Famílias Cadastradas</h6>
        <h3 class="fw-bold mb-0">{{ total_familias }}</h3>
      </div>
    </div>

    <!-- Total Assistidos -->
    <div class="col-12 col-md-4 col-lg-3">
      <div class="card shadow-sm border-0 text-center py-4">
        <div class="mb-3">
          <i class="bi bi-people-fill text-primary" style="font-size:2rem;"></i>
        </div>
        <h6 class="text-muted mb-1">Total de Assistidos</h6>
        <h3 class="fw-bold mb-0">{{ total_assistidos }}</h3>
      </div>
    </div>
   

    <!-- Adultos Cadastrados -->
    <div class="col-12 col-md-4 col-lg-3">
      <div class="card shadow-sm border-0 text-center py-4">
        <div class="mb-3">
          <i class="bi bi-people-fill text-info" style="font-size:2rem;"></i>
        </div>
        <h6 class="text-muted mb-1">Adultos Cadastrados</h6>
        <h3 class="fw-bold mb-0">{{ total_adultos }}</h3>
      </div>
    </div>
    <!-- Idosos Cadastrados -->
    <div class="col-12 col-md-4 col-lg-3">
      <div class="card shadow-sm border-0 text-center py-4">
        <div class="mb-3">
          <i class="bi bi-people-fill text-info" style="font-size:2rem;"></i>
        </div>
        <h6 class="text-muted mb-1">Idosos Cadastrados</h6>
        <h3 class="fw-bold mb-0">{{ total_idosos }}</h3>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
    <div class="col-6 col-md-3 mb-4 text-center">
        <a href="{% url 'family_list' %}" class="text-decoration-none">
            <i class="bi bi-people-fill" style="font-size:3em;"></i>
            <div class="mt-2 fs-5">Famílias</div>
        </a>
    </div>
    <div class="col-6 col-md-3 mb-4 text-center">
        <a href="{% url 'aluno_list' %}" class="text-decoration-none">
            <i class="bi bi-person-badge-fill" style="font-size:3em;"></i>
            <div class="mt-2 fs-5">Assistidos</div>
        </a>
    </div>
    <div class="col-6 col-md-3 mb-4 text-center">
        <a href="{% url 'adult_list' %}" class="text-decoration-none">
            <i class="bi bi-easel2-fill" style="font-size:3em;"></i>
            <div class="mt-2 fs-5">Adultos</div>
        </a>
    </div>
    <div class="col-6 col-md-3 mb-4 text-center">
        <a href="{% url 'activity_list' %}" class="text-decoration-none">
            <i class="bi bi-calendar-week" style="font-size:3em;"></i>
            <div class="mt-2 fs-5">Atividades</div>
        </a>
    </div>
    <div class="col-6 col-md-3 mb-4 text-center">
        <a href="{% url 'events:event_list' %}" class="text-decoration-none">
            <i class="bi bi-calendar-event-fill" style="font-size:3em;"></i>
            <div class="mt-2 fs-5">Eventos</div>
        </a>
    </div>
       
</div>
{% endblock %}
