{% extends "AppLSD/base.html" %}
{% load static %}

{% block title %}Painel Lar São Domingos{% endblock %}

{% block content %}

    <h1 class="mb-5 text-center">Integra + Lar</h1>
<div class="row justify-content-center">
    <div class="col-6 col-md-3 mb-4 text-center">
        <a href="{% url 'home_assist' %}" class="text-decoration-none">
            <i class="bi bi-people-fill" style="font-size:3em;"></i>
            <div class="mt-2 fs-5">Serviço de Assistência</div>
        </a>
    </div>

<div class="col-6 col-md-3 mb-4 text-center">
        <a href="{% url 'home_escola' %}" class="text-decoration-none">
            <i class="bi bi-mortarboard-fill" style="font-size:3em;"></i>
            <div class="mt-2 fs-5">Escola</div>
        </a>
    </div>

<div class="col-6 col-md-3 mb-4 text-center">
        <a href="{% url 'home_diretoria' %}" class="text-decoration-none">
            <i class="bi bi-bar-chart-line-fill" style="font-size:3em;"></i>
            <div class="mt-2 fs-5">Diretoria</div>
        </a>
    </div>

<div class="col-6 col-md-3 mb-4 text-center">
        <a href="{% url 'events:event_list' %}" class="text-decoration-none">
            <i class="bi bi-calendar-event-fill" style="font-size:3em;"></i>
            <div class="mt-2 fs-5">Eventos</div>
        </a>
    </div>

<div class="col-6 col-md-3 mb-4 text-center">
        <a href="{% url 'home_adm' %}" class="text-decoration-none">
            <i class="bi bi-gear-fill" style="font-size:3em;"></i>
            <div class="mt-2 fs-5">Administração</div>
        </a>
    </div>
</div>
{% endblock %}