{% extends "AppLSD/base.html" %}
{% load static %}

{% block title %}Integra+Lar{% endblock %}

{% block content %}


<h1 class="mb-5 text-center">Escola</h1>
<div class="row justify-content-center">
    <div class="col-6 col-md-3 mb-4 text-center">
        <a href="{% url 'turma_list' %}" class="text-decoration-none">
            <i class="bi bi-easel2-fill" style="font-size:3em;"></i>
            <div class="mt-2 fs-5">Turmas</div>
        </a>
    </div>
    <div class="col-6 col-md-3 mb-4 text-center">
        <a href="{% url 'activity_list' %}" class="text-decoration-none">
            <i class="bi bi-calendar-week" style="font-size:3em;"></i>
            <div class="mt-2 fs-5">Atividades</div>
        </a>
    </div>
    <div class="col-6 col-md-3 mb-4 text-center">
        <a href="{% url 'home_relatorios' %}" class="text-decoration-none text-primary">
            <i class="bi bi-bar-chart-line" style="font-size:3em;"></i>
            <div class="mt-2 fs-5">Relatórios de Frequência</div>
        </a>
    </div>
   

    
</div>
{% endblock %}
