{% extends "AppLSD/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-4">
    <h2 class="mb-4">{% if form.instance.pk %}Editar{% else %}Cadastrar{% endif %} Turma</h2>

    
    <form method="post" class="mb-4">
        {% csrf_token %}
        <div class="row mb-3">
                    <div class="col-md-4">{{ form.educadora|as_crispy_field }}</div>
                    <div class="col-md-4">{{ form.grupo|as_crispy_field }}</div>
                    <div class="col-md-4">{{ form.turno|as_crispy_field }}</div>
                <div class="row mb-3">
                    <div class="col-md-4">{{ form.faixa_etaria|as_crispy_field }}</div>
                    <div class="col-md-4">{{ form.ano_letivo|as_crispy_field }}</div>
                    
                </div>
                
            </div>    
        <button type="submit" class="btn btn-primary">
            {% if form.instance.pk %}Salvar Alterações{% else %}Salvar{% endif %}
        </button>
        <a href="{% url 'turma_list' %}" class="btn btn-secondary ms-2">Voltar para Lista</a>
        <a href="{% url 'home' %}" class="btn btn-outline-secondary ms-2">Home</a>
    </form>
</div>

{% endblock %}
